*{
    padding: 0;
    margin: 0 ;
   box-sizing: border-box;
   border: 0;
}
ul,li{
   list-style:none;
}
.wrap{
   width:400px;
   position:relative;
  
}
.wrap .img{
   width:100%;
   height:400px;
 }
.wrap>ul>li{
   float:left;
   width:75px;
   border: 1px solid #aaaaaa;
   margin: 1px;
}
.wrap>ul>li>img{
   width:100%;
}
.list .on{
   border:1px solid red;
}


/*footer*/
footer {
   background-color: #fafafa;
   border-top: #e6e6e6 solid 1px;
   padding-bottom: 20px;
   margin-top: 30PX;
}
.footer-icon {
   width: 100%;
   padding:  0;
   height: 100px;
   text-align: center;
   position: relative;
   top: 12px;
}
.footer-icon .w {
   height: 80px;
}
.w {
   margin: 0 auto;
   width: 1210px;
}
.footer-icon .icon-map {
   display: inline-block;
   width: 170px;
}
.footer-icon .icon-map a{
   color: #666;
   text-decoration: none;
}
.footer-icon .icon-map .icon-bg.i1 {
   background-position: 0 -250px;
}
.footer-icon .icon-map .icon-bg {
   width: 50px;
   height: 50px;
   margin: 0 auto;
   background: url(../img/site.png) no-repeat;
}
.footer-icon .icon-map .icon-title {
   font-size: 14px;
   color: #000;
   text-align: center;
   margin-top: 10px;
}
footer .main-m {
   border-top: #e6e6e6 solid 1px;
}
footer .ft_intr {
   height: 190px;
   padding: 10px 0;
   margin-top: 30px;
   max-width: 1241px;
   margin-left: auto;
   margin-right: auto;
}
footer .ft_intr .ft_intr_l {
   width: 360px;
   float: left;
   line-height: 28px;
   padding-left: 130px;
}
footer .ft_intr .ft_intr_l dl {
   width: 42%;
   float: left;
}
footer .ft_intr .ft_intr_l dl dt {
   font-size: 16px;
   margin-bottom: 10px;
}
footer .ft_intr .ft_intr_l dl dd {
   font-size: 14px;
}
footer .ft_intr .ft_intr_l dl dd a{
   color: #666;
   text-decoration: none;
}
footer .ft_intr .ft_intr_m {
   float: left;
   width: 200px;
   text-align: center;
}
footer .ft_intr .ft_intr_m img{
   border: 0;
   margin: 0;
   overflow: hidden;
   vertical-align: top;
}
.mt10 {
   margin-top: 10px;
}
footer .ft_intr .ft_intr_r {
   width: 400px;
   float: left;
   padding-left: 130px;
}
footer .ft_intr .ft_intr_r dl {
   width: 42%;
   float: left;
   line-height: 28px;
}
footer .ft_intr .ft_intr_r dl dt {
   font-size: 16px;
   margin-bottom: 10px;
}
footer .ft_intr .ft_intr_r dl dd {
   font-size: 14px;
}
footer .ft_intr .ft_intr_r dl dd a{
   color: #666;
   text-decoration: none;
}
footer .ft_addr {
   width: auto;
   text-align: center;
   line-height: 26px;
}
footer .ft_addr .footlink > a {
   margin: 0 10px;
}
footer .ft_addr .footlink a{
   color: #666;
   text-decoration: none;
}
footer .ft_addr .footlink .g9 a{
   color: #666;
   text-decoration: none;
}
/*补充*/
.footer-icon .icon-map .icon-bg.i3 {

   background-position: 0 -350px;

}
.footer-icon .icon-map .icon-bg.i4 {

   background-position: 0 -300px;

}
.footer-icon .icon-map .icon-bg.i5 {

   background-position: 0 -50px;

}
.footer-icon .icon-map .icon-bg.i6 {

   background-position: 0 0;

}
.footer-icon .icon-map .icon-bg.i7 {

   background-position: 0 -150px;

}
.footer-icon .icon-map .icon-bg.i8 {

   background-position: 0 -100px;

}